<IfModule mod_rewrite.c>
  RewriteEngine On
  # Remove .html extensions
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.html -f
  RewriteRule ^(.*)$ $1.html [L]

  # Redirect to clean URLs if .html is explicitly requested
  RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
  RewriteRule ^ /%1 [NC,L,R=301]
</IfModule>